include MANIFEST.in LICENSE README.rst setup.py

graft doc
prune doc/_build

global-exclude *.so
global-exclude *.pyc
global-exclude .git*
global-exclude *.png

# unused parts of the stan source
prune pystan/stan/make
prune pystan/stan/src/docs
prune pystan/stan/src/doxygen
prune pystan/stan/src/python
prune pystan/stan/src/test

# unused parts of the stan math source
prune pystan/stan/lib/stan_math/doxygen
prune pystan/stan/lib/stan_math/make
prune pystan/stan/lib/stan_math/test
prune pystan/stan/lib/stan_math/lib/cpplint_4.45
prune pystan/stan/lib/stan_math/lib/gtest_1.7.0
